@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(32, 32, 32);
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000;
    padding: 24px;
}

.sidebar .logo img {
    width: 130px;
}

.sidebar .navegacao ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navegacao ul li {
    padding: 10px;
    border-radius: 6px;
    transition: 0.1s ease;
}

.sidebar .navegacao ul li a {
    text-decoration: none;
    color: #cecece;
    font-weight: 500;
    font-size: 18px;
}

.sidebar .navegacao ul li a:hover {
    color: #fff;
}

.sidebar .navegacao ul li:hover {
    background: #3b3b3b;
}

.sidebar .navegacao ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .politicas {
    position: absolute;
    bottom: calc(15% + 15px);
}

.sidebar .politicas ul{
    list-style: none;
}

.sidebar .politicas ul li{
    padding-bottom: 5px;
}

.sidebar .politicas ul li a{
    color: #cecece;
    font-weight: 500;
    text-decoration: none;
    font-size: 11px;
}

.sidebar .politicas ul li a:hover {
    color: #fff;
}

.conteudo-principal{
    margin-left: 350px;
    margin-bottom: 100px;
}

.botoes button {
    color: #ababab;
    background:#202020;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    cursor: not-allowed;
    margin-right: 10px;
    border: none;
}

.barra-topo{
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 14px 30px;
}

.barra-topo .navbar{
    display: flex;
    align-items: center;
}

.barra-topo .navbar ul {
    list-style: none;
}

.barra-topo .navbar ul li{
    display: inline-block;
    margin: 0px 8px;
    width: 100px;
}

.barra-topo .navbar ul li a {
    text-decoration: none;
    color: #cecece;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.barra-topo .navbar ul li a:hover {
    color: #fff;
}

.barra-topo .navbar button {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.barra-topo .navbar button:hover, .preview button:hover {
    background: #dedede;
}

.spotify-playlists{
    padding: 20px 40px;
}

.spotify-playlists h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlists .lista {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlists .lista .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background: #2d2d2d;
    cursor: pointer;
    transition: all ease 0.4s;
    border-radius: 6px;
}

.spotify-playlists .lista .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .lista .item:hover {
    background-color: #3b3b3b;
}

.spotify-playlists .lista .item .play {
    position: relative;
}

.spotify-playlists .lista .item .play .fa{
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: rgb(38, 179, 78);
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlists .lista .item:hover .play .fa{
    transform: translateY(-20px);
    opacity: 1;
}

.spotify-playlists .lista .item h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .lista .item p{
    color: #ababab;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr{
    margin: 70px 0px 0px;
    border-color: #6f6f6f;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.preview button{
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}